<html>
<h1>Update Owner {{person.id}}:</h1>
<form id="update-owner" action="/owner" method="post"> 
    Firstname: <input type="text" name="fname"value="{{person.fname}}"><br> 
    Last Name: <input type="text" name="league_name" value="{{person.lname}}"><br> 
</form>
<button onclick="updateOwner({{id}})">Update</button>
</html>